{
    "openapi": "3.0.1",
    "info": {
        "title": "Spotify Web API",
        "description": "You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.\n\nIn order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href=\"https://developer.spotify.com/documentation/general/guides/authorization-guide/\">OAuth 2.0</a>.\n\nThe base URI for all Web API requests is `https://api.spotify.com/v1`.\n\nNeed help? See our <a href=\"https://developer.spotify.com/documentation/web-api/guides/\">Web API guides</a> for more information, or visit the <a href=\"https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer\">Spotify for Developers community forum</a> to ask questions and connect with other developers.\n",
        "termsOfService": "https://developer.spotify.com/terms/",
        "contact": {
            "name": "Spotify for Developers Community",
            "url": "https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer"
        },
        "version": "1.0"
    },
    "servers": [{
        "url": "https://apim-rocks.azure-api.net/spotify"
    }],
    "paths": {
        "/albums/{id}": {
            "get": {
                "tags": ["Albums"],
                "summary": "Get Album\n",
                "description": "Get Spotify catalog information for a single album.\n",
                "operationId": "get-an-album",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "title": "Spotify Album ID",
                        "type": "string",
                        "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the album.\n",
                        "example": "4aawyAB9vmqN3uQ7FjRGTy"
                    }
                }, {
                    "name": "market",
                    "in": "query",
                    "schema": {
                        "title": "Market",
                        "type": "string",
                        "description": "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\n  If a country code is specified, only content that is available in that market will be returned.<br/>\n  If a valid user access token is specified in the request header, the country associated with\n  the user account will take priority over this parameter.<br/>\n  _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>\n  Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/account/overview/).\n",
                        "example": "ES"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "An album",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AlbumObject"
                                },
                                "example": {
                                    "album_type": "compilation",
                                    "total_tracks": 9,
                                    "available_markets": ["CA", "BR", "IT"],
                                    "external_urls": {
                                        "spotify": "string"
                                    },
                                    "href": "string",
                                    "id": "2up3OPMp9Tb4dAKM2erWXQ",
                                    "images": [{
                                        "url": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                                        "height": 300,
                                        "width": 300
                                    }],
                                    "name": "string",
                                    "release_date": "1981-12-01",
                                    "release_date_precision": "year",
                                    "restrictions": {
                                        "reason": "market"
                                    },
                                    "type": "album",
                                    "uri": "spotify:album:2up3OPMp9Tb4dAKM2erWXQ",
                                    "artists": [{
                                        "external_urls": {
                                            "spotify": "string"
                                        },
                                        "href": "string",
                                        "id": "string",
                                        "name": "string",
                                        "type": "artist",
                                        "uri": "string"
                                    }],
                                    "tracks": {
                                        "href": "https://api.spotify.com/v1/me/shows?offset=0&limit=20\n",
                                        "limit": 20,
                                        "next": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                        "offset": 0,
                                        "previous": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                        "total": 4,
                                        "items": [{
                                            "artists": [{
                                                "external_urls": {
                                                    "spotify": "string"
                                                },
                                                "href": "string",
                                                "id": "string",
                                                "name": "string",
                                                "type": "artist",
                                                "uri": "string"
                                            }],
                                            "available_markets": ["string"],
                                            "disc_number": 0,
                                            "duration_ms": 0,
                                            "explicit": true,
                                            "external_urls": {
                                                "spotify": "string"
                                            },
                                            "href": "string",
                                            "id": "string",
                                            "is_playable": true,
                                            "linked_from": {
                                                "external_urls": {
                                                    "spotify": "string"
                                                },
                                                "href": "string",
                                                "id": "string",
                                                "type": "string",
                                                "uri": "string"
                                            },
                                            "restrictions": {
                                                "reason": "string"
                                            },
                                            "name": "string",
                                            "preview_url": "string",
                                            "track_number": 0,
                                            "type": "string",
                                            "uri": "string",
                                            "is_local": true
                                        }]
                                    },
                                    "copyrights": [{
                                        "text": "string",
                                        "type": "string"
                                    }],
                                    "external_ids": {
                                        "isrc": "string",
                                        "ean": "string",
                                        "upc": "string"
                                    },
                                    "genres": ["string"],
                                    "label": "string",
                                    "popularity": 0
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The app has exceeded its rate limits.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/albums": {
            "get": {
                "tags": ["Albums"],
                "summary": "Get Several Albums\n",
                "description": "Get Spotify catalog information for multiple albums identified by their Spotify IDs.\n",
                "operationId": "get-multiple-albums",
                "parameters": [{
                    "name": "ids",
                    "in": "query",
                    "required": true,
                    "schema": {
                        "title": "Spotify Album IDs",
                        "type": "string",
                        "description": "A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the albums. Maximum: 20 IDs.\n",
                        "example": "382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc"
                    }
                }, {
                    "name": "market",
                    "in": "query",
                    "schema": {
                        "title": "Market",
                        "type": "string",
                        "description": "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\n  If a country code is specified, only content that is available in that market will be returned.<br/>\n  If a valid user access token is specified in the request header, the country associated with\n  the user account will take priority over this parameter.<br/>\n  _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>\n  Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/account/overview/).\n",
                        "example": "ES"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "A set of albums",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["albums"],
                                    "type": "object",
                                    "properties": {
                                        "albums": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AlbumObject"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "albums": [{
                                        "album_type": "compilation",
                                        "total_tracks": 9,
                                        "available_markets": ["CA", "BR", "IT"],
                                        "external_urls": {
                                            "spotify": "string"
                                        },
                                        "href": "string",
                                        "id": "2up3OPMp9Tb4dAKM2erWXQ",
                                        "images": [{
                                            "url": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                                            "height": 300,
                                            "width": 300
                                        }],
                                        "name": "string",
                                        "release_date": "1981-12-01",
                                        "release_date_precision": "year",
                                        "restrictions": {
                                            "reason": "market"
                                        },
                                        "type": "album",
                                        "uri": "spotify:album:2up3OPMp9Tb4dAKM2erWXQ",
                                        "artists": [{
                                            "external_urls": {
                                                "spotify": "string"
                                            },
                                            "href": "string",
                                            "id": "string",
                                            "name": "string",
                                            "type": "artist",
                                            "uri": "string"
                                        }],
                                        "tracks": {
                                            "href": "https://api.spotify.com/v1/me/shows?offset=0&limit=20\n",
                                            "limit": 20,
                                            "next": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                            "offset": 0,
                                            "previous": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                            "total": 4,
                                            "items": [{
                                                "artists": [{
                                                    "external_urls": {
                                                        "spotify": "string"
                                                    },
                                                    "href": "string",
                                                    "id": "string",
                                                    "name": "string",
                                                    "type": "artist",
                                                    "uri": "string"
                                                }],
                                                "available_markets": ["string"],
                                                "disc_number": 0,
                                                "duration_ms": 0,
                                                "explicit": true,
                                                "external_urls": {
                                                    "spotify": "string"
                                                },
                                                "href": "string",
                                                "id": "string",
                                                "is_playable": true,
                                                "linked_from": {
                                                    "external_urls": {
                                                        "spotify": "string"
                                                    },
                                                    "href": "string",
                                                    "id": "string",
                                                    "type": "string",
                                                    "uri": "string"
                                                },
                                                "restrictions": {
                                                    "reason": "string"
                                                },
                                                "name": "string",
                                                "preview_url": "string",
                                                "track_number": 0,
                                                "type": "string",
                                                "uri": "string",
                                                "is_local": true
                                            }]
                                        },
                                        "copyrights": [{
                                            "text": "string",
                                            "type": "string"
                                        }],
                                        "external_ids": {
                                            "isrc": "string",
                                            "ean": "string",
                                            "upc": "string"
                                        },
                                        "genres": ["string"],
                                        "label": "string",
                                        "popularity": 0
                                    }]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The app has exceeded its rate limits.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/albums/{id}/tracks": {
            "get": {
                "tags": ["Albums", "Tracks"],
                "summary": "Get Album Tracks\n",
                "description": "Get Spotify catalog information about an album’s tracks.\nOptional parameters can be used to limit the number of tracks returned.\n",
                "operationId": "get-an-albums-tracks",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "title": "Spotify Album ID",
                        "type": "string",
                        "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the album.\n",
                        "example": "4aawyAB9vmqN3uQ7FjRGTy"
                    }
                }, {
                    "name": "market",
                    "in": "query",
                    "schema": {
                        "title": "Market",
                        "type": "string",
                        "description": "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\n  If a country code is specified, only content that is available in that market will be returned.<br/>\n  If a valid user access token is specified in the request header, the country associated with\n  the user account will take priority over this parameter.<br/>\n  _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>\n  Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/account/overview/).\n",
                        "example": "ES"
                    }
                }, {
                    "name": "limit",
                    "in": "query",
                    "schema": {
                        "title": "Limit",
                        "maximum": 50,
                        "minimum": 0,
                        "type": "integer",
                        "description": "The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.\n",
                        "default": 20,
                        "example": 10
                    }
                }, {
                    "name": "offset",
                    "in": "query",
                    "schema": {
                        "title": "Offset",
                        "type": "integer",
                        "description": "The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.\n",
                        "default": 0,
                        "example": 5
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Pages of tracks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagingSimplifiedTrackObject"
                                },
                                "example": {
                                    "href": "https://api.spotify.com/v1/me/shows?offset=0&limit=20\n",
                                    "limit": 20,
                                    "next": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                    "offset": 0,
                                    "previous": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                    "total": 4,
                                    "items": [{
                                        "artists": [{
                                            "external_urls": {
                                                "spotify": "string"
                                            },
                                            "href": "string",
                                            "id": "string",
                                            "name": "string",
                                            "type": "artist",
                                            "uri": "string"
                                        }],
                                        "available_markets": ["string"],
                                        "disc_number": 0,
                                        "duration_ms": 0,
                                        "explicit": true,
                                        "external_urls": {
                                            "spotify": "string"
                                        },
                                        "href": "string",
                                        "id": "string",
                                        "is_playable": true,
                                        "linked_from": {
                                            "external_urls": {
                                                "spotify": "string"
                                            },
                                            "href": "string",
                                            "id": "string",
                                            "type": "string",
                                            "uri": "string"
                                        },
                                        "restrictions": {
                                            "reason": "string"
                                        },
                                        "name": "string",
                                        "preview_url": "string",
                                        "track_number": 0,
                                        "type": "string",
                                        "uri": "string",
                                        "is_local": true
                                    }]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The app has exceeded its rate limits.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/artists/{id}": {
            "get": {
                "tags": ["Artists"],
                "summary": "Get Artist\n",
                "description": "Get Spotify catalog information for a single artist identified by their unique Spotify ID.\n",
                "operationId": "get-an-artist",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "title": "Spotify Artist ID",
                        "type": "string",
                        "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.\n",
                        "example": "0TnOYISbd1XYRBk9myaseg"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "An artist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ArtistObject"
                                },
                                "example": {
                                    "external_urls": {
                                        "spotify": "string"
                                    },
                                    "followers": {
                                        "href": "string",
                                        "total": 0
                                    },
                                    "genres": ["Prog rock", "Grunge"],
                                    "href": "string",
                                    "id": "string",
                                    "images": [{
                                        "url": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                                        "height": 300,
                                        "width": 300
                                    }],
                                    "name": "string",
                                    "popularity": 0,
                                    "type": "artist",
                                    "uri": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The app has exceeded its rate limits.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/artists": {
            "get": {
                "tags": ["Artists"],
                "summary": "Get Several Artists\n",
                "description": "Get Spotify catalog information for several artists based on their Spotify IDs.\n",
                "operationId": "get-multiple-artists",
                "parameters": [{
                    "name": "ids",
                    "in": "query",
                    "required": true,
                    "schema": {
                        "title": "Spotify Artist IDs",
                        "type": "string",
                        "description": "A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the artists. Maximum: 50 IDs.\n",
                        "example": "2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "A set of artists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["artists"],
                                    "type": "object",
                                    "properties": {
                                        "artists": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ArtistObject"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "artists": [{
                                        "external_urls": {
                                            "spotify": "string"
                                        },
                                        "followers": {
                                            "href": "string",
                                            "total": 0
                                        },
                                        "genres": ["Prog rock", "Grunge"],
                                        "href": "string",
                                        "id": "string",
                                        "images": [{
                                            "url": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                                            "height": 300,
                                            "width": 300
                                        }],
                                        "name": "string",
                                        "popularity": 0,
                                        "type": "artist",
                                        "uri": "string"
                                    }]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The app has exceeded its rate limits.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/artists/{id}/albums": {
            "get": {
                "tags": ["Albums", "Artists"],
                "summary": "Get Artist's Albums\n",
                "description": "Get Spotify catalog information about an artist's albums.\n",
                "operationId": "get-an-artists-albums",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "title": "Spotify Artist ID",
                        "type": "string",
                        "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.\n",
                        "example": "0TnOYISbd1XYRBk9myaseg"
                    }
                }, {
                    "name": "include_groups",
                    "in": "query",
                    "schema": {
                        "title": "Groups to include (single, album, appears_on, compilation)",
                        "type": "string",
                        "description": "A comma-separated list of keywords that will be used to filter the response. If not supplied, all album types will be returned. <br/>\nValid values are:<br/>- `album`<br/>- `single`<br/>- `appears_on`<br/>- `compilation`<br/>For example: `include_groups=album,single`.\n",
                        "example": "single,appears_on"
                    }
                }, {
                    "name": "market",
                    "in": "query",
                    "schema": {
                        "title": "Market",
                        "type": "string",
                        "description": "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\n  If a country code is specified, only content that is available in that market will be returned.<br/>\n  If a valid user access token is specified in the request header, the country associated with\n  the user account will take priority over this parameter.<br/>\n  _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>\n  Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/account/overview/).\n",
                        "example": "ES"
                    }
                }, {
                    "name": "limit",
                    "in": "query",
                    "schema": {
                        "title": "Limit",
                        "maximum": 50,
                        "minimum": 0,
                        "type": "integer",
                        "description": "The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.\n",
                        "default": 20,
                        "example": 10
                    }
                }, {
                    "name": "offset",
                    "in": "query",
                    "schema": {
                        "title": "Offset",
                        "type": "integer",
                        "description": "The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.\n",
                        "default": 0,
                        "example": 5
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Pages of albums",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagingArtistDiscographyAlbumObject"
                                },
                                "example": {
                                    "href": "https://api.spotify.com/v1/me/shows?offset=0&limit=20\n",
                                    "limit": 20,
                                    "next": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                    "offset": 0,
                                    "previous": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                    "total": 4,
                                    "items": [{
                                        "album_type": "compilation",
                                        "total_tracks": 9,
                                        "available_markets": ["CA", "BR", "IT"],
                                        "external_urls": {
                                            "spotify": "string"
                                        },
                                        "href": "string",
                                        "id": "2up3OPMp9Tb4dAKM2erWXQ",
                                        "images": [{
                                            "url": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                                            "height": 300,
                                            "width": 300
                                        }],
                                        "name": "string",
                                        "release_date": "1981-12-01",
                                        "release_date_precision": "year",
                                        "restrictions": {
                                            "reason": "market"
                                        },
                                        "type": "album",
                                        "uri": "spotify:album:2up3OPMp9Tb4dAKM2erWXQ",
                                        "artists": [{
                                            "external_urls": {
                                                "spotify": "string"
                                            },
                                            "href": "string",
                                            "id": "string",
                                            "name": "string",
                                            "type": "artist",
                                            "uri": "string"
                                        }],
                                        "album_group": "compilation"
                                    }]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The app has exceeded its rate limits.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/artists/{id}/top-tracks": {
            "get": {
                "tags": ["Artists", "Tracks"],
                "summary": "Get Artist's Top Tracks\n",
                "description": "Get Spotify catalog information about an artist's top tracks by country.\n",
                "operationId": "get-an-artists-top-tracks",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "title": "Spotify Artist ID",
                        "type": "string",
                        "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.\n",
                        "example": "0TnOYISbd1XYRBk9myaseg"
                    }
                }, {
                    "name": "market",
                    "in": "query",
                    "schema": {
                        "title": "Market",
                        "type": "string",
                        "description": "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\n  If a country code is specified, only content that is available in that market will be returned.<br/>\n  If a valid user access token is specified in the request header, the country associated with\n  the user account will take priority over this parameter.<br/>\n  _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>\n  Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/account/overview/).\n",
                        "example": "ES"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "A set of tracks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["tracks"],
                                    "type": "object",
                                    "properties": {
                                        "tracks": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TrackObject"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "tracks": [{
                                        "album": {
                                            "album_type": "compilation",
                                            "total_tracks": 9,
                                            "available_markets": ["CA", "BR", "IT"],
                                            "external_urls": {
                                                "spotify": "string"
                                            },
                                            "href": "string",
                                            "id": "2up3OPMp9Tb4dAKM2erWXQ",
                                            "images": [{
                                                "url": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                                                "height": 300,
                                                "width": 300
                                            }],
                                            "name": "string",
                                            "release_date": "1981-12-01",
                                            "release_date_precision": "year",
                                            "restrictions": {
                                                "reason": "market"
                                            },
                                            "type": "album",
                                            "uri": "spotify:album:2up3OPMp9Tb4dAKM2erWXQ",
                                            "artists": [{
                                                "external_urls": {
                                                    "spotify": "string"
                                                },
                                                "href": "string",
                                                "id": "string",
                                                "name": "string",
                                                "type": "artist",
                                                "uri": "string"
                                            }]
                                        },
                                        "artists": [{
                                            "external_urls": {
                                                "spotify": "string"
                                            },
                                            "href": "string",
                                            "id": "string",
                                            "name": "string",
                                            "type": "artist",
                                            "uri": "string"
                                        }],
                                        "available_markets": ["string"],
                                        "disc_number": 0,
                                        "duration_ms": 0,
                                        "explicit": true,
                                        "external_ids": {
                                            "isrc": "string",
                                            "ean": "string",
                                            "upc": "string"
                                        },
                                        "external_urls": {
                                            "spotify": "string"
                                        },
                                        "href": "string",
                                        "id": "string",
                                        "is_playable": true,
                                        "linked_from": {},
                                        "restrictions": {
                                            "reason": "string"
                                        },
                                        "name": "string",
                                        "popularity": 0,
                                        "preview_url": "string",
                                        "track_number": 0,
                                        "type": "track",
                                        "uri": "string",
                                        "is_local": true
                                    }]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The app has exceeded its rate limits.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/artists/{id}/related-artists": {
            "get": {
                "tags": ["Artists"],
                "summary": "Get Artist's Related Artists\n",
                "description": "Get Spotify catalog information about artists similar to a given artist. Similarity is based on analysis of the Spotify community's listening history.\n",
                "operationId": "get-an-artists-related-artists",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "title": "Spotify Artist ID",
                        "type": "string",
                        "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.\n",
                        "example": "0TnOYISbd1XYRBk9myaseg"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "A set of artists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["artists"],
                                    "type": "object",
                                    "properties": {
                                        "artists": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ArtistObject"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "artists": [{
                                        "external_urls": {
                                            "spotify": "string"
                                        },
                                        "followers": {
                                            "href": "string",
                                            "total": 0
                                        },
                                        "genres": ["Prog rock", "Grunge"],
                                        "href": "string",
                                        "id": "string",
                                        "images": [{
                                            "url": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                                            "height": 300,
                                            "width": 300
                                        }],
                                        "name": "string",
                                        "popularity": 0,
                                        "type": "artist",
                                        "uri": "string"
                                    }]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The app has exceeded its rate limits.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/shows/{id}": {
            "get": {
                "tags": ["Shows"],
                "summary": "Get Show\n",
                "description": "Get Spotify catalog information for a single show identified by its\nunique Spotify ID.\n",
                "operationId": "get-a-show",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "title": "Spotify Show ID",
                        "type": "string",
                        "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)\nfor the show.\n",
                        "example": "38bS44xjbVVZ3No3ByF1dJ"
                    }
                }, {
                    "name": "market",
                    "in": "query",
                    "schema": {
                        "title": "Market",
                        "type": "string",
                        "description": "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\n  If a country code is specified, only content that is available in that market will be returned.<br/>\n  If a valid user access token is specified in the request header, the country associated with\n  the user account will take priority over this parameter.<br/>\n  _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>\n  Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/account/overview/).\n",
                        "example": "ES"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "A show",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShowObject"
                                },
                                "example": {
                                    "available_markets": ["string"],
                                    "copyrights": [{
                                        "text": "string",
                                        "type": "string"
                                    }],
                                    "description": "string",
                                    "html_description": "string",
                                    "explicit": true,
                                    "external_urls": {
                                        "spotify": "string"
                                    },
                                    "href": "string",
                                    "id": "string",
                                    "images": [{
                                        "url": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                                        "height": 300,
                                        "width": 300
                                    }],
                                    "is_externally_hosted": true,
                                    "languages": ["string"],
                                    "media_type": "string",
                                    "name": "string",
                                    "publisher": "string",
                                    "type": "show",
                                    "uri": "string",
                                    "total_episodes": 0,
                                    "episodes": {
                                        "href": "https://api.spotify.com/v1/me/shows?offset=0&limit=20\n",
                                        "limit": 20,
                                        "next": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                        "offset": 0,
                                        "previous": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                        "total": 4,
                                        "items": [{
                                            "audio_preview_url": "https://p.scdn.co/mp3-preview/2f37da1d4221f40b9d1a98cd191f4d6f1646ad17",
                                            "description": "A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.\n",
                                            "html_description": "<p>A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.</p>\n",
                                            "duration_ms": 1686230,
                                            "explicit": true,
                                            "external_urls": {
                                                "spotify": "string"
                                            },
                                            "href": "https://api.spotify.com/v1/episodes/5Xt5DXGzch68nYYamXrNxZ",
                                            "id": "5Xt5DXGzch68nYYamXrNxZ",
                                            "images": [{
                                                "url": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                                                "height": 300,
                                                "width": 300
                                            }],
                                            "is_externally_hosted": true,
                                            "is_playable": true,
                                            "language": "en",
                                            "languages": ["fr", "en"],
                                            "name": "Starting Your Own Podcast: Tips, Tricks, and Advice From Anchor Creators\n",
                                            "release_date": "1981-12-15",
                                            "release_date_precision": "day",
                                            "resume_point": {
                                                "fully_played": true,
                                                "resume_position_ms": 0
                                            },
                                            "type": "episode",
                                            "uri": "spotify:episode:0zLhl3WsOCQHbe1BPTiHgr",
                                            "restrictions": {
                                                "reason": "string"
                                            }
                                        }]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The app has exceeded its rate limits.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/shows": {
            "get": {
                "tags": ["Shows"],
                "summary": "Get Several Shows\n",
                "description": "Get Spotify catalog information for several shows based on their Spotify IDs.\n",
                "operationId": "get-multiple-shows",
                "parameters": [{
                    "name": "ids",
                    "in": "query",
                    "required": true,
                    "schema": {
                        "title": "Ids",
                        "type": "string",
                        "description": "A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the shows. Maximum: 50 IDs.\n",
                        "example": "5CfCWKI5pZ28U0uOzXkDHe,5as3aKmN2k11yfDDDSrvaZ"
                    }
                }, {
                    "name": "market",
                    "in": "query",
                    "schema": {
                        "title": "Market",
                        "type": "string",
                        "description": "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\n  If a country code is specified, only content that is available in that market will be returned.<br/>\n  If a valid user access token is specified in the request header, the country associated with\n  the user account will take priority over this parameter.<br/>\n  _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>\n  Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/account/overview/).\n",
                        "example": "ES"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "A set of shows",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["shows"],
                                    "type": "object",
                                    "properties": {
                                        "shows": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SimplifiedShowObject"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "shows": [{
                                        "available_markets": ["string"],
                                        "copyrights": [{
                                            "text": "string",
                                            "type": "string"
                                        }],
                                        "description": "string",
                                        "html_description": "string",
                                        "explicit": true,
                                        "external_urls": {
                                            "spotify": "string"
                                        },
                                        "href": "string",
                                        "id": "string",
                                        "images": [{
                                            "url": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                                            "height": 300,
                                            "width": 300
                                        }],
                                        "is_externally_hosted": true,
                                        "languages": ["string"],
                                        "media_type": "string",
                                        "name": "string",
                                        "publisher": "string",
                                        "type": "show",
                                        "uri": "string",
                                        "total_episodes": 0
                                    }]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The app has exceeded its rate limits.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/shows/{id}/episodes": {
            "get": {
                "tags": ["Episodes", "Shows"],
                "summary": "Get Show Episodes\n",
                "description": "Get Spotify catalog information about an show’s episodes. Optional parameters can be used to limit the number of episodes returned.\n",
                "operationId": "get-a-shows-episodes",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "title": "Spotify Show ID",
                        "type": "string",
                        "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)\nfor the show.\n",
                        "example": "38bS44xjbVVZ3No3ByF1dJ"
                    }
                }, {
                    "name": "market",
                    "in": "query",
                    "schema": {
                        "title": "Market",
                        "type": "string",
                        "description": "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\n  If a country code is specified, only content that is available in that market will be returned.<br/>\n  If a valid user access token is specified in the request header, the country associated with\n  the user account will take priority over this parameter.<br/>\n  _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>\n  Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/account/overview/).\n",
                        "example": "ES"
                    }
                }, {
                    "name": "limit",
                    "in": "query",
                    "schema": {
                        "title": "Limit",
                        "maximum": 50,
                        "minimum": 0,
                        "type": "integer",
                        "description": "The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.\n",
                        "default": 20,
                        "example": 10
                    }
                }, {
                    "name": "offset",
                    "in": "query",
                    "schema": {
                        "title": "Offset",
                        "type": "integer",
                        "description": "The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.\n",
                        "default": 0,
                        "example": 5
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Pages of episodes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagingSimplifiedEpisodeObject"
                                },
                                "example": {
                                    "href": "https://api.spotify.com/v1/me/shows?offset=0&limit=20\n",
                                    "limit": 20,
                                    "next": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                    "offset": 0,
                                    "previous": "https://api.spotify.com/v1/me/shows?offset=1&limit=1",
                                    "total": 4,
                                    "items": [{
                                        "audio_preview_url": "https://p.scdn.co/mp3-preview/2f37da1d4221f40b9d1a98cd191f4d6f1646ad17",
                                        "description": "A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.\n",
                                        "html_description": "<p>A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.</p>\n",
                                        "duration_ms": 1686230,
                                        "explicit": true,
                                        "external_urls": {
                                            "spotify": "string"
                                        },
                                        "href": "https://api.spotify.com/v1/episodes/5Xt5DXGzch68nYYamXrNxZ",
                                        "id": "5Xt5DXGzch68nYYamXrNxZ",
                                        "images": [{
                                            "url": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                                            "height": 300,
                                            "width": 300
                                        }],
                                        "is_externally_hosted": true,
                                        "is_playable": true,
                                        "language": "en",
                                        "languages": ["fr", "en"],
                                        "name": "Starting Your Own Podcast: Tips, Tricks, and Advice From Anchor Creators\n",
                                        "release_date": "1981-12-15",
                                        "release_date_precision": "day",
                                        "resume_point": {
                                            "fully_played": true,
                                            "resume_position_ms": 0
                                        },
                                        "type": "episode",
                                        "uri": "spotify:episode:0zLhl3WsOCQHbe1BPTiHgr",
                                        "restrictions": {
                                            "reason": "string"
                                        }
                                    }]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "The app has exceeded its rate limits.\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": ["error"],
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "$ref": "#/components/schemas/ErrorObject"
                                        }
                                    }
                                },
                                "example": {
                                    "error": {
                                        "status": 0,
                                        "message": "string"
                                    }
[...]
