AZURE_OPENAI_ENDPOINT=https://XXXXXXXXX.azure-api.net/inference/models
AZURE_OPENAI_DEPLOYMENT=gpt-5-mini
AZURE_OPENAI_API_VERSION=2024-05-01-preview
LOG_LEVEL=INFO
STRANDS_LOG_LEVEL=INFO
APIM_SUBSCRIPTION_KEY=XXXXXXXXX