azure-ai-agentserver-agentframework==1.0.0b12
python-dotenv==1.1.1
azure-monitor-opentelemetry==1.8.4
azure-identity>=1.21.0
a2a-sdk==0.3.22
ag-ui-protocol==0.1.10
agent-framework==1.0.0b251218
agent-framework-a2a==1.0.0b251218
agent-framework-ag-ui==1.0.0b251218
agent-framework-anthropic==1.0.0b251218
agent-framework-azure-ai==1.0.0b251218
agent-framework-azure-ai-search==1.0.0b251218
agent-framework-azurefunctions==1.0.0b251218
agent-framework-chatkit==1.0.0b251218
agent-framework-copilotstudio==1.0.0b251218
agent-framework-core==1.0.0b251218
agent-framework-declarative==1.0.0b251218
agent-framework-devui==1.0.0b251218
agent-framework-lab==1.0.0b251024
agent-framework-mem0==1.0.0b251218
agent-framework-ollama==1.0.0b251218
agent-framework-purview==1.0.0b251218
agent-framework-redis==1.0.0b251218
azure-ai-agents==1.2.0b5
azure-ai-projects==2.0.0b2
azure-common==1.1.28
azure-core==1.37.0
azure-functions==1.24.0
azure-functions-durable==1.4.0
azure-identity==1.25.1
azure-search-documents==11.7.0b2
azure-storage-blob==12.27.1
microsoft-agents-activity==0.6.1
microsoft-agents-copilotstudio-client==0.6.1
microsoft-agents-hosting-core==0.6.1
opentelemetry-api==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opentelemetry-semantic-conventions-ai==0.4.13